.add-meeting-box-form select{
    width:97%;
}

textarea{
    width: 97%;
    height: 30%;
}
.add-meeting-box{
    height: 300px;
}
.btn2{
    margin-bottom: 10px;
}
.meeting-header h2{
    margin: 2vh 0;
}

.teams-section{
    margin: 3vh 0;
}

.team-box{
    padding: 0 1vw 0 1vw;
    /* margin-right: 3vw; */
    border: 1px solid rgba(0, 0, 0, 0.24);
    width: 1500px;
    border-radius: 3px;
    /* margin-right:-100px; */
}
.team-box h2{
    font-size: 1.25rem;
    color: black;
}
.team-box hr{
    margin: 1.5vh 0;
}
.team-box p{
    margin: 1.5vh 0;
}
.team-box button{
    margin: 1vh 0;
    color: white;
    background-color: #DC3545;
    border:0;
    border-radius: 3px;
    width: 106px;
    height: 28px;
}

.team-box form{
    display: flex;

}
.team-box form .add-emails{
    margin-top: 0vh;
    width: 10%;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.24);

}
.team-box form button{
    color: white;
    background-color: #18A2B8;
    margin-top: 0;
    margin-left: 4px;
    width: 40px;
    height: 30px;
}   